/* hello world this is my first style sheet */
.homebody { text-align: center}
h1{
            font-family: sans-serif;
            font-size: 70px;
            color: #00cccc;
    text-align: center;
}
            
        }
  a {
            font-family: sans-serif;
            font-size: 30px;
            color: #ffd11a;
            
        }
        .rachel {
            font-weight: bold;
            font-family: Arial;
            font-style: oblique
            
        }
p { 
    font-family: sans-serif;
            font-size: 30px;
            color: #31111;
    text-align: center;
    
}

ul li {
    display: inline;
    font-size: 50px;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
ul.menu li a {text-decoration: none}
ul.menu li a:hover {text-decoration: ;
    color: black;
    
}
a:visited {color: #ffd11a}